# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Output of the go coverage tool, specifically when used with LiteIDE
*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*
_testmain.go

# Coverage files
*.cover
*.coverprofile
*.cov
coverage.*

# IDE and editor files
*.idea/
*.vscode/
*.swp

# Dependency directories (remove if you're using Go modules)
vendor/

# Go workspace file
go.work
go.work.sum

# Air
.air
tmp/

# Env files (secrets)
.env
.env.local
.env.*